<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% load static %} {% static 'home/style.css' %}">
</head>
<body>
  <div class="background">
    <section id="nav-menu">
      <nav class="nav-content">
        <div class="logo">Logo</div>
        <div>
          <ul class="nav-links">
            <li><a href="">Home</a></li>
            <li><a href="">Sobre</a></li>
            <li><a href="">Projetos</a></li>
            <li><a href="">Contato</a></li>
          </ul>
        </div>
      </nav>
    </section>
    <section id="hero">
      <div class="hero-content">  
        <div class="hero-text">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis totam iusto nam ipsum 
            praesentium illum earum possimus ad soluta voluptatem quasi exercitationem placeat, 
            blanditiis, laborum accusamus ab impedit magnam aspernatur!
          </p>
          <button type="button">Fazer Orçamento</button>
        </div>
      </div>
    </section>
    <section id="services">
      <div class="services-content">
        <ul class="servicers-list">
          <li><a href="">Construção de Telhados</a></li>
          <li><a href="">Construção de Paredes</a></li>
          <li><a href="">Construção de Pisos</a></li>
          <li><a href="">Construção de Piscinas</a></li>
        </ul>
      </div>
    </section>
    <section id="projects">
      <div class="projects-content">
        <div class="projects-text">
          <h2>Projetos</h2>
        </div>
        <div class="image-grid">
          <img src="{% static 'home/long-shot-man-working-roof.jpg' %}" alt="">
          <img src="{% static 'home/long-shot-man-working-roof.jpg' %}" alt="">
          <img src="{% static 'home/long-shot-man-working-roof.jpg' %}" alt="">
          <img src="{% static 'home/long-shot-man-working-roof.jpg' %}" alt="">
          <img src="{% static 'home/long-shot-man-working-roof.jpg' %}" alt="">
          <img src="{% static 'home/long-shot-man-working-roof.jpg' %}" alt="">
          <img src="{% static 'home/long-shot-man-working-roof.jpg' %}" alt="">
          <img src="{% static 'home/long-shot-man-working-roof.jpg' %}" alt="">
          <img src="{% static 'home/long-shot-man-working-roof.jpg' %}" alt="">
        </div>
      </div>
    </section>
  </div>    
    
</body>
</html>